body {
    font-family: Eurostile, Helvetica, sans-serif;
}

#content {
    padding-top: 20px;
    border-top: 1px solid black;
}

nav ul {
    padding: 0px;
}

nav li {
    padding-right: 20px;
    list-style-type: none;
    display: inline;
}
